* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      margin: 1.5rem;
      background-image: url(https://www.tokkoro.com/picsup/2997744-nature-landscape-waves-aerial-view-drone-island-pacific-ocean___mixed-wallpapers.jpg);
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      letter-spacing: 0.04rem;
      color: rgba(0, 0, 0, 0.8);
}

header {
      height: 66vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

h1 {
      font-size: 33vh;
      letter-spacing: 0.6rem;
      color: rgba(102, 204, 255, 1);
}

h2 {
      clear: both;
      margin: 6vh 1.5rem;
      padding: 1rem;
      font-size: 9vh;
      letter-spacing: 0.125rem;
      border-style: groove;
      border-color: rgba(0, 0, 0, 0.65);
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.65);
      background: rgba(102, 204, 255, 0.65);
}

img {
      width: 200px;
      margin: 1.5rem 0;
}

p {
      text-align: justify;
}

ul {
      list-style-type: none;
}

.grid-item {
      margin: 6vh 1rem;
      padding: 1.5rem;
      border-style: groove;
      border-color: rgba(0, 0, 0, 0.65);
      border-radius: 6px;
      background: rgba(102, 204, 255, 0.65);
}

.grid-item:hover {
      background: rgba(153, 51, 153, 1);
      background-image: url("https://www.transparenttextures.com/patterns/cross-stripes.png");
}

#grid-floats .grid-item {
      width: calc(100%/3 - 2rem);
      height: 450px;
      float: left;
      overflow: hidden;
}

#grid-floats .grid-item:nth-child(-n+2) {
      width: calc(50% - 2rem);
}

@media screen and (max-width: 992px) {
      #grid-floats .grid-item {
            width: calc(50% - 2rem);
      }

      #grid-floats .grid-item:nth-child(1) {
            width: calc(100% - 2rem);
      }
}

@media screen and (max-width: 600px) {
      #grid-floats .grid-item {
            width: calc(100% - 2rem);
      }

      #grid-floats .grid-item:nth-child(2) {
            width: calc(100% - 2rem);
      }
}

#grid-flex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: stretch;
}

#grid-flex .grid-item {
      width: 300px;
}